In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
from helper_functions import *
import os
import statsmodels.tsa.api as sm
import itertools

In [2]:
os.chdir('C:\\Users\\Cheong\\Documents\\GitHub\\ARIMAMAS\\data')

# Read data
train_data = pd.read_pickle("./data_base_train.pkl")
train_data = train_data.fillna(method='ffill', axis=0)
train_data.columns = train_data.columns.droplevel()
train_data.head()

C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

PRICE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,...,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE
DATE,,,,,,,,,,,,,,,,,,,,,
1990-01-02,77300.0,77400.0,77020.0,77020.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383113.9383,383155.65,382988.9700,382988.97
1990-01-03,76890.0,77030.0,76700.0,76740.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,382863.9600,383030.64,382863.9600,382905.63
1990-01-04,77080.0,77610.0,77000.0,77490.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,382947.3000,383072.31,382947.3000,383030.64
1990-01-05,77050.0,77280.0,76980.0,76980.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383238.9900,383280.66,383155.6500,383155.65
1990-01-08,77280.0,77300.0,77090.0,77200.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383113.9383,383197.32,383113.9383,383197.32

In [3]:
# Read data
test_data = pd.read_pickle("./data_base_test.pkl")
test_data = test_data.fillna(method='ffill', axis=0)
test_data.columns = test_data.columns.droplevel()
test_data.tail()

C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

PRICE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,...,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE
DATE,,,,,,,,,,,,,,,,,,,,,
2017-12-25,77000.0,77200.0,76990.0,77130.0,109810.0,109880.0,109340.0,109680.0,8540.0,8560.0,...,31580.0,31620.0,123965.0,124215.0,123645.0,123835.0,411293.3175,411293.3175,411282.900,411293.3175
2017-12-26,77160.0,77310.0,77120.0,77270.0,109810.0,109880.0,109340.0,109680.0,8750.0,8750.0,...,31580.0,31620.0,123895.0,123990.0,123535.0,123960.0,411293.3175,411293.3175,411282.900,411282.9000
2017-12-27,77260.0,77790.0,77240.0,77740.0,109420.0,109970.0,109260.0,109700.0,8810.0,8810.0,...,31590.0,31640.0,123960.0,124105.0,123810.0,124005.0,410595.3450,410616.1800,410595.345,410616.1800
2017-12-28,77690.0,78090.0,77680.0,77940.0,108940.0,109020.0,108940.0,109020.0,8750.0,8770.0,...,31500.0,31520.0,123955.0,124200.0,123920.0,124055.0,410616.1800,410637.0150,410616.180,410616.1800
2017-12-29,77960.0,78250.0,77880.0,78090.0,108520.0,108520.0,108520.0,108520.0,8800.0,8830.0,...,31410.0,31480.0,124040.0,124430.0,123335.0,123395.0,410616.1800,410637.0150,410616.180,410616.1800

In [4]:
# Read stack data
stack_data = pd.read_pickle("./data_stack_test.pkl")
stack_data = stack_data.fillna(method='ffill', axis=0)
stack_data.columns = stack_data.columns.droplevel()
stack_data.tail()

C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

PRICE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,...,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE
DATE,,,,,,,,,,,,,,,,,,,,,
2018-12-25,70450.0,70750.0,70440.0,70570.0,96200.0,96710.0,95600.0,95620.0,7810.0,7810.0,...,27000.0,27150.0,111895.0,112860.0,108405.0,108485.0,407220.075,407220.075,407209.6575,407220.075
2018-12-26,70490.0,70790.0,70390.0,70760.0,96200.0,96710.0,95600.0,95620.0,7750.0,7800.0,...,27000.0,27150.0,108650.0,114845.0,107260.0,114680.0,407220.075,407220.075,407209.6575,407220.075
2018-12-27,70730.0,70850.0,70250.0,70420.0,97000.0,97390.0,94370.0,94800.0,7790.0,7790.0,...,26470.0,26900.0,114375.0,116000.0,111210.0,115755.0,406678.365,406740.870,406678.3650,406720.035
2018-12-28,70370.0,70780.0,70360.0,70480.0,94790.0,97170.0,94440.0,96910.0,7770.0,7780.0,...,26870.0,27230.0,115590.0,116860.0,114785.0,115075.0,406699.200,406720.035,406678.3650,406678.365
2018-12-31,70520.0,70800.0,70420.0,70540.0,97210.0,97870.0,96940.0,97600.0,7740.0,7740.0,...,26870.0,27230.0,115670.0,116760.0,115450.0,116565.0,406678.365,406699.200,406657.5300,406699.200

In [5]:
# All 88 futures
futures = ['F_AD','F_BO','F_BP','F_C','F_CC','F_CD',
                           'F_CL','F_CT','F_DX','F_EC','F_ED','F_ES',
                           'F_FC','F_FV','F_GC','F_HG','F_HO','F_JY',
                           'F_KC','F_LB','F_LC','F_LN','F_MD','F_MP',
                           'F_NG','F_NQ','F_NR','F_O','F_OJ','F_PA',
                           'F_PL','F_RB','F_RU','F_S','F_SB','F_SF',
                           'F_SI','F_SM','F_TU','F_TY','F_US','F_W',
                           'F_XX','F_YM','F_AX','F_CA','F_DT','F_UB',
                           'F_UZ','F_GS','F_LX','F_SS','F_DL','F_ZQ',
                           'F_VX','F_AE','F_BG','F_BC','F_LU','F_DM',
                           'F_AH','F_CF','F_DZ','F_FB','F_FL','F_FM',
                           'F_FP','F_FY','F_GX','F_HP','F_LR','F_LQ',
                           'F_ND','F_NY','F_PQ','F_RR','F_RF','F_RP',
                           'F_RY','F_SH','F_SX','F_TR','F_EB','F_VF',
                           'F_VT','F_VW','F_GD','F_F']
len(futures)

88

In [27]:
# indicator data
indicator_train = pd.read_pickle("./data_indicators_base_train.pkl")
indicator_test = pd.read_pickle("./data_indicators_base_test.pkl")

In [61]:
# Create correlation matrix
corr_matrix = indicator_train.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation less than 0.4
to_drop = [column for column in upper.columns if any(upper[column] > 0.4)]

tmp = indicator_train.drop(to_drop, axis=1)

indicator_train = indicator_train[tmp.columns].values.transpose()
indicator_test = indicator_test[tmp.columns].values.transpose()

In [7]:
new_features = pd.DataFrame(index=np.arange(len(test_data)+len(stack_data)), columns=np.arange(88))
new_features.columns = futures
new_features["dates"] = (list(test_data.index) + list(stack_data.index))
new_features = new_features.set_index("dates")
new_features.head()

,F_AD,F_BO,F_BP,F_C,F_CC,F_CD,F_CL,F_CT,F_DX,F_EC,...,F_RY,F_SH,F_SX,F_TR,F_EB,F_VF,F_VT,F_VW,F_GD,F_F
dates,,,,,,,,,,,,,,,,,,,,,
2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
pointer = 0

# get close prices
x_train = train_data.iloc[:,(pointer+3)]
x_test = test_data.iloc[:,(pointer+3)]
stack_test = stack_data.iloc[:,(pointer+3)]

# take log
x_train = np.log(x_train)
x_test = np.log(x_test)
stack_test = np.log(stack_test)

period = 5 ## 5 trading days in a week

#for (fut in futures) {
  
  #pointer = pointer + 4
#}

bestSSE = np.inf
bestp = None
bestq = None
bestP = None
bestQ = None
    
def gridSearch(itemObj):
    
    currSSE = np.inf
    currp = None
    currq = None
    currP = None
    currQ = None
           
    #use gridsearch to look for optimal sarimax parameters
    for p in range(2,6):
        for q in range (2,6):
            for P in range (0, 3):
                for Q in range (0, 3):
                    if (p+q+P+Q+1+1 > 10):
                        continue
                        
                    try:
                        mod = sm.SARIMAX(itemObj, order=(p, 1, q), seasonal_order=(P, 1, Q, 5), 
                                                enforce_stationarity=False,
                                                enforce_invertibility=False)

                        results = mod.fit()
                        
                        pred = results.forecast(steps = len(x_test))
                        sse = np.sum((pred - x_test)**2)

                        #if current run of SSE is better than the best one so far, overwrite it
                        if (sse<currSSE):
                            currSSE = sse
                            currp = p
                            currq = q
                            currP = P
                            currQ = Q
                            
                    except:
                        continue
                        
        return currp, currq, currP, currQ
                    
bestp, bestq, bestP, bestQ = gridSearch(x_train)

C:\Users\Cheong\Anaconda3\lib\site-packages\statsmodels\base\data.py:131: RuntimeWarning: invalid value encountered in reduce
  ptp_ = self.exog.ptp(axis=0)

In [10]:
mod = sm.SARIMAX(x_train, order=(bestp, 1, bestq), seasonal_order=(bestP, 1, bestQ, 5),
                                                enforce_stationarity=False,
                                                enforce_invertibility=False)

results = mod.fit()

In [25]:
test_dates = x_test.reset_index().iloc[:,0]
stack_dates = stack_test.reset_index().iloc[:,0]
pred = results.forecast(steps = len(x_test)+len(stack_test))

#Store predictions to use for stack model
for i in range(len(x_test)):
    new_features.at[test_dates[i], "F_AD"] = np.exp(pred[i])

ind = 0
for j in range(len(x_test),(len(x_test)+len(stack_test))):
    new_features.at[stack_dates[ind], "F_AD"] = np.exp(pred[j])
    ind = ind + 1

C:\Users\Cheong\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:320: FutureWarning: Creating a DatetimeIndex by passing range endpoints is deprecated.  Use `pandas.date_range` instead.
  freq=base_index.freq)

In [26]:
new_features.head()

,F_AD,F_BO,F_BP,F_C,F_CC,F_CD,F_CL,F_CT,F_DX,F_EC,...,F_RY,F_SH,F_SX,F_TR,F_EB,F_VF,F_VT,F_VW,F_GD,F_F
dates,,,,,,,,,,,,,,,,,,,,,
2016-01-01,72646.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,72619.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-05,72608.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-06,72610.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-07,72637.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN